html,body,#root,.router-view,.transfer-box{
    height:100%;
}
.transfer-box{
    position: relative;
}
.split{
    float: left;
    height:100%;
    background: #fff;
}
.move-box{
    float: left;
    width:10px;
    height:100%;
    background: #f0f0f0;
    cursor: ew-resize;
}